* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

$turkis: #6dd3ce;
$light-green: #c8e9a0;
$pink: #fcb0b3;
$bordeaux: #653239;
$dark-green: #5c6f68;
$white: whitesmoke;

/*font inkluderer 100, 300, 400, 500, 600, 700, 900 i normal, bold og italic*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');

.loader {
    position: fixed;
    z-index: 99;
    width: 100%;
    height: 100%;
    background: white;
    display: none;
    //display: flex, når vi vil gerne have den, ellers display:none
    justify-content: center;
    align-items: center;
svg {
    position: relative;
    animation: pulse 2s linear infinite;
    animation-iteration-count: 2;
    
}
    @keyframes pulse {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.2);
            fill:#fcb0b3;
        }
        100% {
            transform: scale(1);
        }
    }

}

.loader.hidden {
    animation: fadeOut 2s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    90% {
        opacity: 1;
        visibility: visible;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

#headerMain {
    width: 100%;
    margin: auto;
    background-color: $white;
    position: sticky;
    top: 0;
    z-index: 25;
    box-shadow: 0 8px 5px -4px #999;
    display: flex;

    #headerContent {
        width: 80%;
        display: flex;
        margin: auto;
        justify-content: space-between;
    svg{
        width: 10%;
        margin: 1% 0;
    }
    nav{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
       
        .mainmenuitems{ 
            width: 50%;
            display: flex;  
            cursor: pointer;
            li{ 
                width: 70%;
                display: flex;
                justify-content: flex-end;
                font-size: 2rem;
                a{
                    font-size: 2rem;
                    color: black;
                }
            }
        }
        .menuwrap{
            position: absolute;
            background-color: $white;
            top: 103%;
            left: 0;
            width: 100vw;
            height: 0;
            overflow: hidden;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            justify-content: center;
            border-bottom: 1px solid black;
        .menuitems {
            margin: 1rem;
            margin-left: 10rem;
            padding-left: 2rem;
            
            h3{
                margin-bottom: 0.5rem;
            }
            li {
                margin-bottom: 0.5rem;
                font-size: 1rem;
                cursor: pointer;
                transition: color 0.5s linear;
            }
            li:hover {
                color: $pink;
            }
        }
    }
    }
}}


body {
    margin: auto;
    background-color: whitesmoke; /*placeholder*/
    width: 100vw;
    overflow-x: hidden;
}

h2 {
    padding-left: 2rem;
}

section {
    padding: 2rem 2rem;
}

main {
    max-width: 80%;
    margin: auto;
    padding: 3em 0;
    background-color: $white; //Placeholder
}

#heroSection {
    figure {
        display: grid;
        grid-template-columns: 40% 60%;
        width: 100%;
        h3 {
            padding: 15px 0 0 5%;
            font-size: 2rem;
            text-transform: uppercase;
            align-self: center;
        }
        p {
            padding: 20px 0 0 5%;
            font-size: 1.7vw;
            align-self: center;
            line-height: 2.4vw;
            a {
                color: black;
                font-weight: bold;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        figcaption {
            width: 100%;
            height: 85.8%;
            background-color: $turkis;
        }
        img {
            height: auto;
            width: 100%;
        }
    }
}

#sektionerSection {
    padding-top: 8em;
    padding-bottom: 8em;
    margin: auto;
    height: 20vw; /* placeholder -  er blevet ændret, måske det er godt.*/
    background-color: $dark-green; /*placeholder*/
    h2 {
        font-size: 300%;
        width: 100%;
        padding-bottom: 1em;
        margin-top: -2em;
        color: $white;
    }
    h3 {
        width: 100%;
        margin-left: 1.5%;
        padding-bottom: 3%;
        font-size: 130%;
        color: $white;
    }
}

// Sektioner slideshows SCSS

.figureContainer {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    justify-content: space-around;
}

 .figureTitles {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    justify-content: space-around;
    margin-top: 2em;
    h3 {
        padding-top: 1.5em;
    }
}

.slideShow {
    background: #000;
    border: 0.5em solid $white;
    box-shadow: 0.2em 0.2em 0.5em rgba(0,0,0,0.7);
    height: 18vw;
    width: 18vw;
    //object-fit: fill; //måske skal det her bruges - prøver at fitte billeder til boksen.
    // margin: 40px auto 0px;
    overflow: visible;
    position: relative;
    ul {
        margin: 0;
        padding: 0;
        position: relative;
    }
    li {
        width: 18vw;  /* Width Image */
        height: 18vw; /* Height Image */
        position: absolute;
        top: -435px; /* Original Position - Outside of the Slider */
        list-style: none; 
    }
    img {
        height: 18vw;
        width: 18vw;
        object-fit: cover;
        // overflow: hidden;
    }
}

#mask {
    overflow: hidden;
    height: 18vw;
}


.firstAnimation {
    animation: cycle 25s linear infinite;
}
 
.secondAnimation {
    animation: cycletwo 25s linear infinite;
}
 
.thirdAnimation {
    animation: cyclethree 25s linear infinite;
}
 
.fourthAnimation {
    animation: cyclefour 25s linear infinite;
}

.fifthAnimation {
    animation: cyclefive 25s linear infinite;
}

@keyframes cycle {
   0%  { top: 0px; } /* When you start the slide, the first image is already visible */
   4%  { top: 0px; } /* Original Position */
   16% { top: 0px; opacity:1; z-index:0; } /* From 4% to 16 % = for 3 seconds the image is visible */
   20% { top: 435px; opacity: 0; z-index: 0; } /* From 16% to 20% = for 1 second exit image */
   21% { top: -435px; opacity: 0; z-index: -1; } /* Return to Original Position */
   92% { top: -435px; opacity: 0; z-index: 0; }
   96% { top: -435px; opacity: 0; } /* From 96% to 100% = for 1 second enter image*/
   100%{ top: 0px; opacity: 1; }
}
 
@keyframes cycletwo {
   0%  { top: -435px; opacity: 0; } /* Original Position */
   16% { top: -435px; opacity: 0; }/* Starts moving after 16% to this position */
   20% { top: 0px; opacity: 1; }
   24% { top: 0px; opacity: 1; }  /* From 20% to 24% = for 1 second enter image*/
   36% { top: 0px; opacity: 1; z-index: 0; }   /* From 24% to 36 % = for 3 seconds the image is visible */
   40% { top: 435px; opacity: 0; z-index: 0; } /* From 36% to 40% = for 1 second exit image */
   41% { top: -435px; opacity: 0; z-index: -1; }   /* Return to Original Position */
   100%{ top: -435px; opacity: 0; z-index: -1; }
}
 
@keyframes cyclethree {
   0%  { top: -435px; opacity: 0; }
   36% { top: -435px; opacity: 0; }
   40% { top: 0px; opacity: 1; }
   44% { top: 0px; opacity: 1; }
   56% { top: 0px; opacity: 1; }
   60% { top: 435px; opacity: 0; z-index: 0; }
   61% { top: -435px; opacity: 0; z-index: -1; }
   100%{ top: -435px; opacity: 0; z-index: -1; }
}
 
@keyframes cyclefour {
   0%  { top: -435px; opacity: 0; }
   56% { top: -435px; opacity: 0; }
   60% { top: 0px; opacity: 1; }
   64% { top: 0px; opacity: 1; }
   76% { top: 0px; opacity: 1; z-index: 0; }
   80% { top: 435px; opacity: 0; z-index: 0; }
   81% { top: -435px; opacity: 0; z-index: -1; }
   100%{ top: -435px; opacity: 0; z-index: -1; }
}

@keyframes cyclefive {
   0%  { top: -425px; opacity: 0; }
   76% { top: -425px; opacity: 0; }
   80% { top: 0px; opacity: 1; }
   84% { top: 0px; opacity: 1; }
   96% { top: 0px; opacity: 1; z-index: 0; }
   100%{ top: 425px; opacity: 0; z-index: 0; }
}

.tooltip {
    background: rgba(0,0,0,0.7);
    width: 80%;
    height: 20%;
    position: relative;
    bottom: 26%;
    left: 0px;

    h1 {
        color: #fff;
        font-size: 100%;
        font-weight: 300;
        line-height: 4vw;
        padding: 0 0 0 1vw; 
    }
    
 }


.slideShow :hover li,
.slideShow :hover {
   animation-play-state: paused;
}

// About sektion
#about {
    padding-top: 8rem;

    h3{
        text-align: center;
        font-size: 2rem;
        background-color: $dark-green;
        padding: 1rem;
        color:$white;
    }
    p{
        font-size: 1.5rem;
        padding: 1rem 0;
    }
}

#history{

    h2{
        display: flex;
        justify-content: center;  
        margin-bottom: 2%;
    }
    figure{
        margin: auto;
        width: 70%;
        display: grid;
        grid-template-columns: auto auto;
        gap: 1%;
        img{
            width: 100%;
        }
    }
    p{
        text-align: center;
        width: 40%; 
        margin: auto;
        margin-bottom: 2%;
    }
}
#grid-history{

    div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .btn{
        width: 50%;
        // margin-left: 43%;
        font-size: 1vw; 
        margin-bottom: 1%;
        padding: 1% 2% 1%;
        background-color: $bordeaux;
        color: $white;
        font-weight: 700;
        &:hover{
            cursor: pointer; 
       }
    }
}
article{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease-out;
    width: 100%;
    margin: auto;

    p{
        margin-bottom: 3%;
        text-align: center;
    }
}

// Annonce
#offers {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

footer {
    width: 100%;
    background-color: $pink;
    box-shadow: 4px -8px 5px -4px #999;
}

#footer-wrap{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding-bottom: 2rem;

    section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        h3 {
            margin-bottom: 1rem;
            font-size: 2rem;
        }

        li {
            cursor: pointer;
            margin-bottom: 0.5rem;
            transition: color 0.4s ease-in-out;
        }
        li:hover {
            color: white;
        }
    }
    form {
        justify-self: right;
        width: 80%;
        padding: 2rem 0;
    
        legend {
            font-size: 2rem;
            font-weight: 700;
        }

        fieldset {
            border: none;
        }

        .fields {
            margin: 1rem 0;

            input {
                padding: 0.5rem;
                width: 70%;
                background-color: $white;
            }
        }

        #message-wrap {
            text-align: center;
            padding-bottom: 1rem;
        }

        #btns {
            display: flex;
            justify-content: space-evenly;
        button {
            padding: 0.5rem;
            background-color: $pink;
            border: 0.5px solid black;

        }
    }

    }
    article {
        grid-column: 1 /3 ;
        grid-row: 2 / 3;
        justify-self: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
        svg {
            width: 30%;
            padding-top: 2rem;
        }
    }
}