@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

/*font inkluderer 100, 300, 400, 500, 600, 700, 900 i normal, bold og italic*/
body {
  margin: auto;
  background-color: whitesmoke;
  /*placeholder*/
  width: 100vw;
  overflow-x: hidden;
}

h2 {
  padding-left: 2rem;
}

section {
  padding: 2rem 2rem;
}

main {
  max-width: 80%;
  margin: auto;
  padding: 3em 0;
  background-color: whitesmoke;
}

.loader {
  position: fixed;
  z-index: 99;
  width: 100%;
  height: 100%;
  background: white;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loader svg {
  position: relative;
  -webkit-animation: pulse 2s linear infinite;
          animation: pulse 2s linear infinite;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    fill: #fcb0b3;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    fill: #fcb0b3;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.loader.hidden {
  -webkit-animation: fadeOut 2s;
          animation: fadeOut 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fadeOut {
  90% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fadeOut {
  90% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

#headerMain {
  width: 100%;
  margin: auto;
  background-color: whitesmoke;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 25;
  -webkit-box-shadow: 0 8px 5px -4px #999;
          box-shadow: 0 8px 5px -4px #999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#headerMain #headerContent {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#headerMain #headerContent svg {
  width: 10%;
  margin: 1% 0;
}

#headerMain #headerContent nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#headerMain #headerContent nav .drop-from, #headerMain #headerContent nav #about-trigger {
  height: 100%;
  width: 100%;
  padding: 5rem 0 0 5rem;
}

#headerMain #headerContent nav .drop-btn, #headerMain #headerContent nav #about-trigger {
  background-color: transparent;
  border: none;
  font-size: 2rem;
  color: black;
  cursor: pointer;
}

#headerMain #headerContent nav .dropdown-content {
  position: absolute;
  top: 100%;
  left: 0%;
  display: none;
  width: 100vw;
  padding: 1rem;
  background-color: whitesmoke;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

#headerMain #headerContent nav .dropdown-content h2 {
  padding: 0 0 1rem 14rem;
}

#headerMain #headerContent nav .drop-from:hover .dropdown-content {
  display: block;
}

#headerMain #headerContent nav .drop-from:hover .drop-btn {
  text-decoration: underline;
}

#headerMain #headerContent nav .column a:hover {
  color: #fcb0b3;
}

#headerMain #headerContent nav .items-wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

#headerMain #headerContent nav .items-wrap a, #headerMain #headerContent nav .items-wrap h3 {
  display: block;
  color: black;
  margin-bottom: 0.5rem;
}

#headerMain #headerContent nav .items-wrap .column {
  padding-left: 14rem;
}

#heroSection {
  padding: 0;
  letter-spacing: 1px;
}

#heroSection figure {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 60%;
      grid-template-columns: 40% 60%;
  width: 100%;
}

#heroSection figure h3 {
  padding: 15px 0 0 5%;
  font-size: 2rem;
  text-transform: uppercase;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#heroSection figure p {
  padding: 20px 0 0 5%;
  font-size: 1.7vw;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  line-height: 1.4;
}

#heroSection figure p a {
  color: black;
  font-weight: bold;
}

#heroSection figure p a:hover {
  text-decoration: underline;
}

#heroSection figure figcaption {
  width: 100%;
  height: 85.8%;
  background-color: #6dd3ce;
}

#heroSection figure img {
  height: auto;
  width: 100%;
}

#sektionerSection {
  padding-top: 8em;
  padding-bottom: 8em;
  margin: auto;
  height: 20vw;
  background-color: #5c6f68;
}

#sektionerSection h2 {
  font-size: 300%;
  width: 100%;
  padding-bottom: 1em;
  margin-top: -2em;
  color: whitesmoke;
}

#sektionerSection h3 {
  width: 100%;
  margin-left: 1.5%;
  padding-bottom: 3%;
  font-size: 130%;
  color: whitesmoke;
}

.figureContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.figureTitles {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 2em;
}

.figureTitles h3 {
  padding-top: 1.5em;
}

.slideShow {
  background: #000;
  border: 0.5em solid whitesmoke;
  -webkit-box-shadow: 0.2em 0.2em 0.5em rgba(0, 0, 0, 0.7);
          box-shadow: 0.2em 0.2em 0.5em rgba(0, 0, 0, 0.7);
  height: 18vw;
  width: 18vw;
  overflow: visible;
  position: relative;
}

.slideShow ul {
  margin: 0;
  padding: 0;
  position: relative;
}

.slideShow li {
  width: 18vw;
  /* Width Image */
  height: 18vw;
  /* Height Image */
  position: absolute;
  top: -435px;
  /* Original Position - Outside of the Slider */
  list-style: none;
}

.slideShow img {
  height: 18vw;
  width: 18vw;
  -o-object-fit: cover;
     object-fit: cover;
}

#mask {
  overflow: hidden;
  height: 18vw;
}

.firstAnimation {
  -webkit-animation: cycle 25s linear infinite;
          animation: cycle 25s linear infinite;
}

.secondAnimation {
  -webkit-animation: cycletwo 25s linear infinite;
          animation: cycletwo 25s linear infinite;
}

.thirdAnimation {
  -webkit-animation: cyclethree 25s linear infinite;
          animation: cyclethree 25s linear infinite;
}

.fourthAnimation {
  -webkit-animation: cyclefour 25s linear infinite;
          animation: cyclefour 25s linear infinite;
}

.fifthAnimation {
  -webkit-animation: cyclefive 25s linear infinite;
          animation: cyclefive 25s linear infinite;
}

@-webkit-keyframes cycle {
  0% {
    top: 0px;
  }
  /* When you start the slide, the first image is already visible */
  4% {
    top: 0px;
  }
  /* Original Position */
  16% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  /* From 4% to 16 % = for 3 seconds the image is visible */
  20% {
    top: 435px;
    opacity: 0;
    z-index: 0;
  }
  /* From 16% to 20% = for 1 second exit image */
  21% {
    top: -435px;
    opacity: 0;
    z-index: -1;
  }
  /* Return to Original Position */
  92% {
    top: -435px;
    opacity: 0;
    z-index: 0;
  }
  96% {
    top: -435px;
    opacity: 0;
  }
  /* From 96% to 100% = for 1 second enter image*/
  100% {
    top: 0px;
    opacity: 1;
  }
}

@keyframes cycle {
  0% {
    top: 0px;
  }
  /* When you start the slide, the first image is already visible */
  4% {
    top: 0px;
  }
  /* Original Position */
  16% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  /* From 4% to 16 % = for 3 seconds the image is visible */
  20% {
    top: 435px;
    opacity: 0;
    z-index: 0;
  }
  /* From 16% to 20% = for 1 second exit image */
  21% {
    top: -435px;
    opacity: 0;
    z-index: -1;
  }
  /* Return to Original Position */
  92% {
    top: -435px;
    opacity: 0;
    z-index: 0;
  }
  96% {
    top: -435px;
    opacity: 0;
  }
  /* From 96% to 100% = for 1 second enter image*/
  100% {
    top: 0px;
    opacity: 1;
  }
}

@-webkit-keyframes cycletwo {
  0% {
    top: -435px;
    opacity: 0;
  }
  /* Original Position */
  16% {
    top: -435px;
    opacity: 0;
  }
  /* Starts moving after 16% to this position */
  20% {
    top: 0px;
    opacity: 1;
  }
  24% {
    top: 0px;
    opacity: 1;
  }
  /* From 20% to 24% = for 1 second enter image*/
  36% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  /* From 24% to 36 % = for 3 seconds the image is visible */
  40% {
    top: 435px;
    opacity: 0;
    z-index: 0;
  }
  /* From 36% to 40% = for 1 second exit image */
  41% {
    top: -435px;
    opacity: 0;
    z-index: -1;
  }
  /* Return to Original Position */
  100% {
    top: -435px;
    opacity: 0;
    z-index: -1;
  }
}

@keyframes cycletwo {
  0% {
    top: -435px;
    opacity: 0;
  }
  /* Original Position */
  16% {
    top: -435px;
    opacity: 0;
  }
  /* Starts moving after 16% to this position */
  20% {
    top: 0px;
    opacity: 1;
  }
  24% {
    top: 0px;
    opacity: 1;
  }
  /* From 20% to 24% = for 1 second enter image*/
  36% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  /* From 24% to 36 % = for 3 seconds the image is visible */
  40% {
    top: 435px;
    opacity: 0;
    z-index: 0;
  }
  /* From 36% to 40% = for 1 second exit image */
  41% {
    top: -435px;
    opacity: 0;
    z-index: -1;
  }
  /* Return to Original Position */
  100% {
    top: -435px;
    opacity: 0;
    z-index: -1;
  }
}

@-webkit-keyframes cyclethree {
  0% {
    top: -435px;
    opacity: 0;
  }
  36% {
    top: -435px;
    opacity: 0;
  }
  40% {
    top: 0px;
    opacity: 1;
  }
  44% {
    top: 0px;
    opacity: 1;
  }
  56% {
    top: 0px;
    opacity: 1;
  }
  60% {
    top: 435px;
    opacity: 0;
    z-index: 0;
  }
  61% {
    top: -435px;
    opacity: 0;
    z-index: -1;
  }
  100% {
    top: -435px;
    opacity: 0;
    z-index: -1;
  }
}

@keyframes cyclethree {
  0% {
    top: -435px;
    opacity: 0;
  }
  36% {
    top: -435px;
    opacity: 0;
  }
  40% {
    top: 0px;
    opacity: 1;
  }
  44% {
    top: 0px;
    opacity: 1;
  }
  56% {
    top: 0px;
    opacity: 1;
  }
  60% {
    top: 435px;
    opacity: 0;
    z-index: 0;
  }
  61% {
    top: -435px;
    opacity: 0;
    z-index: -1;
  }
  100% {
    top: -435px;
    opacity: 0;
    z-index: -1;
  }
}

@-webkit-keyframes cyclefour {
  0% {
    top: -435px;
    opacity: 0;
  }
  56% {
    top: -435px;
    opacity: 0;
  }
  60% {
    top: 0px;
    opacity: 1;
  }
  64% {
    top: 0px;
    opacity: 1;
  }
  76% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  80% {
    top: 435px;
    opacity: 0;
    z-index: 0;
  }
  81% {
    top: -435px;
    opacity: 0;
    z-index: -1;
  }
  100% {
    top: -435px;
    opacity: 0;
    z-index: -1;
  }
}

@keyframes cyclefour {
  0% {
    top: -435px;
    opacity: 0;
  }
  56% {
    top: -435px;
    opacity: 0;
  }
  60% {
    top: 0px;
    opacity: 1;
  }
  64% {
    top: 0px;
    opacity: 1;
  }
  76% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  80% {
    top: 435px;
    opacity: 0;
    z-index: 0;
  }
  81% {
    top: -435px;
    opacity: 0;
    z-index: -1;
  }
  100% {
    top: -435px;
    opacity: 0;
    z-index: -1;
  }
}

@-webkit-keyframes cyclefive {
  0% {
    top: -425px;
    opacity: 0;
  }
  76% {
    top: -425px;
    opacity: 0;
  }
  80% {
    top: 0px;
    opacity: 1;
  }
  84% {
    top: 0px;
    opacity: 1;
  }
  96% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  100% {
    top: 425px;
    opacity: 0;
    z-index: 0;
  }
}

@keyframes cyclefive {
  0% {
    top: -425px;
    opacity: 0;
  }
  76% {
    top: -425px;
    opacity: 0;
  }
  80% {
    top: 0px;
    opacity: 1;
  }
  84% {
    top: 0px;
    opacity: 1;
  }
  96% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  100% {
    top: 425px;
    opacity: 0;
    z-index: 0;
  }
}

.tooltip {
  background: rgba(0, 0, 0, 0.7);
  width: 80%;
  height: 20%;
  position: relative;
  bottom: 26%;
  left: 0px;
}

.tooltip h1 {
  color: #fff;
  font-size: 100%;
  font-weight: 300;
  line-height: 4vw;
  padding: 0 0 0 1vw;
}

.slideShow :hover li,
.slideShow :hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

#about {
  padding: 8rem 0 0 0;
}

#about h3 {
  text-align: center;
  font-size: 2rem;
  background-color: #5c6f68;
  padding: 1rem;
  color: whitesmoke;
}

#about p {
  font-size: 1.5rem;
  padding: 1rem 0;
}

#history h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 2%;
}

#history figure {
  margin: auto;
  width: 70%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  gap: 1%;
}

#history figure img {
  width: 100%;
}

#history h4 {
  text-align: center;
  margin-top: 2rem;
}

#grid-history div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#grid-history .btn {
  width: 50%;
  font-size: 1vw;
  margin-bottom: 1%;
  padding: 1% 2% 1%;
  background-color: #653239;
  color: whitesmoke;
  font-weight: 700;
}

#grid-history .btn:hover {
  cursor: pointer;
}

#grid-history article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  max-height: 0;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
  width: 100%;
  margin: auto;
}

#grid-history article p {
  margin-bottom: 3%;
}

#offers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

#offers img {
  width: 100%;
}

footer {
  width: 100%;
  background-color: #fcb0b3;
  -webkit-box-shadow: 4px -8px 5px -4px #999;
          box-shadow: 4px -8px 5px -4px #999;
}

#footer-wrap {
  width: 80%;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  padding-bottom: 2rem;
}

#footer-wrap section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

#footer-wrap section h3 {
  margin-bottom: 1rem;
  font-size: 2rem;
}

#footer-wrap section li {
  cursor: pointer;
  margin-bottom: 0.5rem;
  -webkit-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
}

#footer-wrap section li:hover {
  color: white;
}

#footer-wrap form {
  -ms-grid-column-align: right;
      justify-self: right;
  width: 80%;
  padding: 2rem 0;
}

#footer-wrap form legend {
  font-size: 2rem;
  font-weight: 700;
}

#footer-wrap form fieldset {
  border: 1px solid black;
  padding: 1rem;
}

#footer-wrap form .fields {
  margin: 1rem 0;
}

#footer-wrap form .fields input {
  padding: 0.5rem;
  width: 70%;
  background-color: whitesmoke;
  border: none;
}

#footer-wrap form #message-wrap {
  text-align: center;
  padding-bottom: 1rem;
}

#footer-wrap form #btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#footer-wrap form #btns button {
  padding: 0.5rem;
  background-color: #fcb0b3;
  border: 0.5px solid black;
}

#footer-wrap article {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 /3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  justify-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
}

#footer-wrap article svg {
  width: 30%;
  padding-top: 2rem;
}
/*# sourceMappingURL=main.css.map */