
//COLOR MODS
$bg-yellow: #fc6;
$bg-green: #9c9;


//BREAKPOINTS
$tablet: 980px;
$mobile: 580px;

@media screen and (max-width: $tablet) {
  body{
    background-color: $bg-yellow; 
    #headerMain{ 
        #headerContent{
            nav{
                .drop-from, #about-trigger {
                    height: 100%;
                    width: 100%;
                    padding: 5rem 0 0 2rem;
                }
        
                .drop-btn, #about-trigger {
                    background-color: transparent;
                    border: none;
                    font-size: 1.5rem;
                    color: black;
                    cursor: pointer;
                }
                
                width: 90%;
                h3 {
                    font-size: 100%;
                }
                .dropdown-content{

                    h2{
                        padding-left: 10%;
                        font-size: 100%;
                    }
                }
            }
            svg {
                width: 15%;
            }
            .items-wrap{
                .column{
                    padding-left: 30%;
                }
            }
            .drop-btn {
                font-size: 1rem;
            }
            #about-trigger {
                font-size: 1rem;
            }
        }
    }
    #grid-history{
        .btn{
            width: 70%;
            font-size: 1.7vw;
        }
    }
    #footer-wrap{
        grid-template-columns: auto;
        section{
            gap: 10%;
            h3{
                font-size: 2rem;
            }
            li{
                font-size: 1rem;
            }
        }
        form{
            justify-self: none;
            width: 100%;
            legend {
                font-size: 1.3rem;
            }
        }
        article{
            grid-row: 3;
            grid-column: 1;
        }
    }
  }
}
@media screen and (max-width: $mobile){
    body{
        background-color: $bg-green;    
    background-color: $bg-green;

    #cloth-content, #shoe-content, #access-content {
        padding-left: 1em;
        a, h3 {
            font-size: 70%;
            padding-left: -10em;
        }
    }
    #headerMain{ 
        #headerContent{
            nav{
                .drop-from, #about-trigger {
                    height: 100%;
                    width: 100%;
                    padding: 5rem 0 0 2rem;
                }
        
                .drop-btn, #about-trigger {
                    background-color: transparent;
                    border: none;
                    font-size: 1rem;
                    color: black;
                    cursor: pointer;
                }
                
                h3 {
                    font-size: 50%;
                }
                .dropdown-content{

                    h2{
                        padding-left: 10%;
                        font-size: 50%;
                    }
                }
            }
            svg {
                width: 20%;
            }
            .items-wrap{
                .column{
                    padding-left: 30%;
                }
            }
            .drop-btn {
                font-size: 50%;
            }
            #about-trigger {
                font-size: 1rem;
            }
        }
    }
        #heroSection{
            figure{
                grid-template-columns: auto;
                h3{
                    padding: 0;
                    font-size: 150%;
                }
                p{
                    font-size: 2.5vw;
                    padding: 10px 0;
                }
                figcaption{
                    height: 100%;
                }
            }
        }

        #sektionerSection {
            padding: 2em 0;
            height: auto; 
        
            h2 {
                font-size: 200%;
                padding-bottom: 0.5em;
                padding-left: 0;
                margin-top: 0;
                text-align: center;
            }
            h3 {
                margin-left: 0;
                font-size: 100%;
                text-align: center;
            }
        }

        #about {
            padding-top: 5rem;
            h3 {
                font-size: 1.5rem;
                padding: 1rem;        
            }
        }

        #history{
            figure{
                grid-template-columns: auto;
            }
            h3 {
                font-size: 1.5rem;
            }
            p{
                font-size: 3vw;
            }
        }
        #grid-history{
            .btn{
                width: 100%;
                font-size: 3vw;
            }
            p{
                font-size: 3vw;
            }
            article {
                iframe {
                    width: 100%;
                    height: auto;
                }
            }
        }
        #footer-wrap{
            section{
                grid-template-columns: auto;
                h3 {
                    font-size: 1.6rem;
                }
            }

            form {
                legend {
                    font-size: 1.6rem;
                }
            }

            p {
                text-align: center;

                h3{
                    font-size: 1.3rem;
                }
                li{
                    font-size: 0.8rem;
                }
            }
        }
    }

    .tooltip {
        font-size: 40%;
    }
    .slideShow {
        border: .2em;
    }
}